@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
  .smooth {
    transition: 0.3s all ease-in-out;
  }
}

#dropdown {
  scrollbar-width: none;
}

.sticky {
  @apply fixed z-[9999] bg-white/80 dark:bg-dark/80 transition;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sticky .navbar-logo {
  @apply py-2;
}

.sticky #navbarToggler span {
  @apply bg-dark dark:bg-white;
}

.sticky #navbarCollapse li > a {
  @apply text-dark dark:text-white hover:text-primary dark:hover:text-primary hover:opacity-100;
}
#navbarCollapse li .ud-menu-scroll.active {
  @apply opacity-70;
}
.sticky #navbarCollapse li .ud-menu-scroll.active {
  @apply text-primary opacity-100;
}
.sticky .loginBtn {
  @apply text-dark dark:text-white hover:text-primary dark:hover:text-primary hover:opacity-100;
}

.sticky .signUpBtn {
  @apply bg-primary text-white hover:bg-blue-dark hover:text-white;
}

.sticky #themeSwitcher ~ span {
  @apply text-dark dark:text-white;
}

.navbarTogglerActive > span:nth-child(1) {
  @apply top-[7px] rotate-45 transform;
}
.navbarTogglerActive > span:nth-child(2) {
  @apply opacity-0;
}
.navbarTogglerActive > span:nth-child(3) {
  @apply top-[-8px] rotate-[135deg];
}

.common-carousel .swiper-button-next:after,
.common-carousel .swiper-button-prev:after {
  @apply hidden;
}

.common-carousel .swiper-button-next,
.common-carousel .swiper-button-prev {
  @apply !static h-12 w-12 rounded-lg bg-white dark:bg-dark shadow-testimonial-btn text-dark dark:text-white m-0 ease-out duration-200 hover:bg-primary hover:text-white hover:shadow-none;
}

.common-carousel .swiper-button-next svg,
.common-carousel .swiper-button-prev svg {
  @apply w-auto h-auto;
}
/* swiper */

.ud-header {
  transition: top 0.3s;
}

.is-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.879); /* Semi-transparent background */
}

/* swiper */

/*THANKYOU*/

.thanks-wrap {
  background: #ffffff;
  padding: 30px;
  margin: 0 auto 10px;
  display: none;
  max-width: 320px;
}

.checkmark {
  max-width: 300px;
  margin: 0 auto;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  -webkit-animation: dash 2s ease-in-out;
  animation: dash 2s ease-in-out;
}

.spin {
  -webkit-animation: spin 2s;
  animation: spin 2s;
  transform-origin: 50% 50%;
}

h2 {
  -webkit-animation: text 1s;
  animation: text 1s;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mg-70 {
  margin: 70px 0px;
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .h2,
  h2 {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  footer {
    margin-bottom: 0px;
  }
}
/*THANKYOU*/

/* whatsapp */

.whatsapp-main {
  display: inline-block;
  position: fixed;
  bottom: 0px;
  z-index: 9999999;
  left: 0px;
  right: auto;
}

.whatsapp-wrapper {
  box-shadow: rgb(0 0 0 / 10%) 0px 12px 24px 0px;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  transition: opacity 0.3s ease 0s, margin 0.3s ease 0s, visibility 0.3s ease 0s;
  background-color: rgb(255, 255, 255);
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  touch-action: auto;
  margin-bottom: 136px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: auto;
  margin-left: 20px;
}

.close_whatsapp {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  outline: transparent;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.close_whatsapp::before {
  transform: rotate(45deg);
}

.close_whatsapp::after {
  transform: rotate(-45deg);
}

.close_whatsapp::before,
.close_whatsapp::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: rgb(29, 33, 41);
  display: block;
  border-radius: 2px;
}

.whatsapp-header {
  background: #0a5654;
  color: #ffffff;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 24px 20px;
}

.whatsapp-reply-time {
  font-size: 13px;
  line-height: 18px;
  margin-top: 4px;
}

.whatsapp-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.header-info {
  margin-left: 16px;
  margin-right: 16px;
}

.support-avatar {
  width: 52px;
  height: 52px;
  display: block;
  position: relative;
  flex-shrink: 0;
}

.support-avatar::before {
  content: "";
  bottom: 0px;
  right: 0px;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  background-color: rgb(74, 213, 4);
  display: block;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

.avatar-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.avatar-img {
  background: white;
  background-size: contain !important;
  min-width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-position: center center;
  background-repeat: no-repeat;
}

.avatar-img::after {
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  inset: 0px;
  position: absolute;
  content: "";
  overflow: hidden;
}

.whatsapp-background {
  padding: 20px 20px 20px 10px;
  background-color: rgb(230, 221, 212);
  position: relative;
  overflow: auto;
  max-height: 382px;
}

.whatsapp-background::before {
  display: block;
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.08;
  background-image: url(https://elfsight.com/assets/chats/patterns/whatsapp.png);
}

.whatsapp-message-container {
  display: flex;
  z-index: 1;
}

.loading-animation {
  background-color: rgb(255, 255, 255);
  width: 52.5px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 10px;
  /*   opacity: 0; */
  transition: all 0.1s ease 0s;
  z-index: 1;
  box-shadow: rgb(0 0 0 / 13%) 0px 1px 0.5px;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #cbcbcb;
  color: #cbcbcb;
  box-shadow: 9999px 0 0 -5px #cbcbcb;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #cbcbcb;
  color: #cbcbcb;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #cbcbcb;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #cbcbcb;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #cbcbcb;
  }
  30% {
    box-shadow: 9984px 0 0 2px #cbcbcb;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #cbcbcb;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #cbcbcb;
  }
  30% {
    box-shadow: 9999px 0 0 2px #cbcbcb;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #cbcbcb;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #cbcbcb;
  }
  30% {
    box-shadow: 10014px 0 0 2px #cbcbcb;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #cbcbcb;
  }
}

.wloader {
  height: 5px;
  width: 5px;
  margin: 0px 2px;
  background-color: rgb(182, 181, 186);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  top: 0px;
}

.whatsapp-message-wrapper {
  display: none;
  padding: 7px 14px 6px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 8px 8px;
  position: relative;
  transition: all 0.3s ease 0s;
  /*   opacity: 1; */
  transform-origin: center top;
  z-index: 2;
  box-shadow: rgb(0 0 0 / 13%) 0px 1px 0.5px;
  margin-top: 4px;
  /*   margin-left: -54px; */
  max-width: calc(100% - 66px);
}

.whatsapp-message-wrapper::before {
  content: "";
  position: absolute;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0px;
  left: -12px;
  width: 12px;
  height: 19px;
}

.chat-body-wrapper {
  width: 100% !important;
}

.whatsapp-chat-name {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}

.whatsapp-chat-message {
  font-size: 14px;
  line-height: 19px;

  margin-top: 4px;
  color: rgb(17, 17, 17);
}

.whatsapp-chat-message p {
  margin: 0px;
}

.whatsapp-message-container {
  box-sizing: border-box !important;
  outline: none !important;
}

.whatsapp-chat-time {
  text-align: right;
  margin-top: 4px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(17, 17, 17, 0.5);
  margin-right: -8px;
  margin-bottom: -4px;
}

.whatsapp-btn {
  padding: 8px 12px;
  border-radius: 24px;
  border: none;
  background: rgb(14, 193, 47);
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 20px;
  overflow: hidden;
  appearance: none;
}

.whatsapp-btn::before {
  content: "";
  position: absolute;
  display: block;
  opacity: 0;
  transform: scale(1);
  background-color: rgb(0, 0, 0);
  z-index: 0;
  transition: all 0.2s ease 0s;
  border-radius: 20px;
  width: 10px;
  height: 10px;
  bottom: -5px;
}

.whatsapp-send-icon-small {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
  fill: rgb(255, 255, 255);
  z-index: 1;
}

.chat-button-text {
  margin-left: 8px;
  margin-right: 8px;
  z-index: 1;
  color: rgb(255, 255, 255);
}

.whatsapp-popup-button {
  height: 25px;
  box-shadow: rgb(0 0 0 / 15%) 0px 3px 12px;
  border-radius: 50%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  outline: transparent;
  background-color: rgb(14, 193, 47);
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;

  height: auto;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
  padding: 4px 24px 4px 16px;
  width: auto;
}

.whatsapp-popup-button::before,
.whatsapp-popup-button::after {
  content: "";
  position: absolute;
  border: 1px solid rgb(14, 193, 47);
  inset: -2px;
  border-radius: 500px;
  opacity: 0;
  z-index: 0;
}

.whatsapp-notify {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 0, 0);
  display: block;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  right: 4px;
  top: 4px;
}

@keyframes showhide {
  from {
    transition: visibility 0s linear 0.7s, opacity 0.7s ease-in-out;
  }
}

@keyframes showchat {
  from {
    transform: scale(0);
    opacity: 0;
  }
}

.hide-whatsapp {
  display: none;
  animation-name: showhide;
  animation-duration: 0.5s;
  transform: scale(1);
  opacity: 1;
}

.show-whatsapp {
  display: flex;
  animation-name: showchat;
  animation-duration: 0.5s;
  transform: scale(1);
  opacity: 1;
}

.whatsapp-send-icon-big {
  height: 20px;
  width: 20px;
}

.whatsapp-button-main {
  color: white;
  line-height: 20px;
  font-size: 15px;
  font-weight: 700;
  width: auto;
  height: auto;
  padding: 6px 4px 6px 4px;
}

.play-btn:before {
  content: "";
  position: absolute;
  height: auto;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 35px;
  border: 5px solid rgb(14 193 47);
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75),
      0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .whatsapp-popup-button {
    bottom: 0;
    left: auto;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  .whatsapp-wrapper {
    width: 90% !important;
    margin-bottom: 116px;
  }

  .whatsapp-background::before {
    height: 250px;
  }
}

@media (min-width: 768px) {
  headers .callnow {
    display: none;
  }

  headers .whatsappx {
    bottom: 15px;
    z-index: 1;
    position: fixed;
    width: 250px;
    max-width: 320px;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  headers {
    transition: opacity 1s ease-out;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100% !important;
    z-index: 997;
    background-color: #f5f5f5;
    width: 100%;
    padding: 10px 0px;
    border-top: 1px solid #e0e0e0;
  }

  headers .whatsappx {
    width: auto;
    margin-right: 1%;
  }

  headers a {
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 12px;
    text-decoration: none;
    font-size: 15px;
    width: 50%;
    display: block;
    float: left;
    text-align: center;
    color: #fff;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
    padding: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* whatsapp */
/* pagination */
.custom-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
  position: absolute;
  z-index: 10;
  bottom: 98px !important;
}


.custom-pagination .swiper-pagination-bullet {
	width: 18px;
	height: 18px;
	margin: 0 5px;
	background-color: gray;
	border-radius: 100%;
	cursor: pointer;
	opacity: .2;
	transition: all .3s;
	position: relative;
	overflow: hidden;
}

.swiper-pagination-bullet::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.custom-pagination .swiper-pagination-bullet-active {
	background-color:#ffffff;
	opacity: 1;
	width: 18px;
	height: 18px;
}
/* pagination */

/* swiper */
.swiper-testimonial .swiper-slide-active{
scale: 1.2!important;
}
.swiper-testimonial .swiper-slide{
scale: 0.8;
}
.swiper-secondary .swiper-slide-thumb-active{
scale: 1.2!important;
}
.swiper-secondary .swiper-slide-thumb-active .main-date{
  font-weight: 600;
  font-size: 20px;
}
.swiper-secondary .swiper-slide{
scale: 0.9;
}

/* swiper */


/* index_global_map */
div.index_global_map {
    padding-top: 15px;
    padding-bottom: 110px;
}

div.index_global_map div.layout {
    width: 100%;
}

div.index_global_map div.layout div.index_hd {
}

div.index_global_map div.layout div.index_hd h2.index_title {
}

div.index_global_map div.layout div.index_bd {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

div.index_global_map div.layout div.index_bd div.map_bg {
}

div.index_global_map div.layout div.index_bd div.map_bg img {
    width: auto;
    transform: translateX(-10px) translateY(0px);
}

div.index_global_map div.layout div.index_bd div.map_content {
}

div.index_global_map div.layout div.index_bd div.map_content li.home {
}

div.index_global_map div.layout div.index_bd div.map_content li.home i {
}

div.index_global_map div.layout div.index_bd div.map_content li.home span {
}

div.index_global_map div.layout div.index_bd div.map_content li {
    position: absolute;
    cursor: pointer;
    height: 10px;
    width: 10px;
    background: #f5a200;
    border-radius: 50%;
    display: flex;
}

div.index_global_map div.layout div.index_bd div.map_content li i {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    top: 0;
    opacity: 1;
}

div.index_global_map div.layout div.index_bd div.map_content li span {
    position: absolute;
    opacity: 1;
    font-size: 16px;
    color: #666666;
    bottom: 100%;
    left: calc(50% - 33px);
    width: 66px;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -ms-transition: all .3s ease;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(1) {
    left: 432px;
    top: 185px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(2) {
    left: 485px;
    top: 258px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(3) {
    left: 631px;
    top: 378px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(4) {
    left: 655px;
    top: 401px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(5) {
    left: 684px;
    top: 458px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(6) {
    left: 597px;
    top: 460px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(7) {
    left: 615px;
    top: 592px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(8) {
    left: 988px;
    top: 521px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(9) {
    left: 1038px;
    top: 443px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(10) {
    left: 923px;
    top: 389px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(11) {
    left: 1006px;
    top: 305px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(12) {
    opacity: 0;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(13) {
    left: 1038px;
    top: 295px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(14) {
    left: 1020px;
    top: 269px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(15) {
    left: 1005px;
    top: 255px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(16) {
    left: 977px;
    top: 268px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(17) {
    left: 986px;
    top: 248px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(18) {
    left: 970px;
    top: 242px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(19) {
    left: 941px;
    top: 226px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(20) {
    left: 924px;
    top: 203px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(21) {
    left: 896px;
    top: 234px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(22) {
    left: 879px;
    top: 260px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(23) {
    left: 876px;
    top: 188px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(24) {
    left: 957px;
    top: 147px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(25) {
    left: 995px;
    top: 138px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(26) {
    left: 1014px;
    top: 221px;
}
div.index_global_map div.layout div.index_bd div.map_bg img {
    width: auto;
    transform: translateX(210px) translateY(0px);
}


div.index_global_map div.layout div.index_bd div.map_content li:nth-child(27) {
    left: 1128px;
    top: 224px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(28) {
    left: 1138px;
    top: 268px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(29) {
    left: 1219px;
    top: 264px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(30) {
    left: 1336px;
    top: 134px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(31) {
    left: 1200px;
    top: 351px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(32) {
    left: 1305px;
    top: 353px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(33) {
    left: 1312px;
    top: 364px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(34) {
    left: 1285px;
    top: 372px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(35) {
    left: 1310px;
    top: 399px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(36) {
    left: 1433px;
    top: 521px;
}

div.index_global_map div.layout div.index_bd div.map_content li i::before {
    position: absolute;
    content: '';
    width: 130%;
    height: 130%;
    top: -15%;
    left: -15%;
    opacity: 1;
    filter: alpha(opacity=0)\9;
    border-radius: 50%;
    background: -webkit-radial-gradient(circle,#173775,rgba(255,255,255,.5),#f5a200);
    background: -o-radial-gradient(circle,rgba(255,255,255,.5),#f5a200);
    background: -moz-radial-gradient(circle,rgba(255,255,255,.5),#f5a200);
    background: radial-gradient(circle,rgba(255,255,255,1),#f5a200);
    -webkit-animation: kuosan-2 4s linear infinite;
    animation: kuosan-2 4s linear infinite;
}

div.index_global_map div.layout div.index_bd div.map_content li i::after {
    position: absolute;
    content: '';
    width: 130%;
    height: 130%;
    top: -15%;
    left: -15%;
    opacity: 0;
    filter: alpha(opacity=0)\9;
    border-radius: 50%;
    z-index: -1;
    background: -webkit-radial-gradient(circle,rgba(255,255,255,.5),#f5a200);
    background: -o-radial-gradient(circle,rgba(255,255,255,.5),#f5a200);
    background: -moz-radial-gradient(circle,rgba(255,255,255,.5),#f5a200);
    background: radial-gradient(circle,rgba(255,255,255,1),#f5a200);
    -webkit-animation: kuosan-2 4s linear infinite;
    animation: kuosan-2 4s linear infinite;
}

div.index_global_map div.layout div.index_bd div.map_content li:hover span {
    bottom: 130%;
    opacity: 1;
    z-index: 9;
}

div.index_global_map div.layout div.index_bd div.map_content li:hover i {
    opacity: 1;
    background: radial-gradient(circle,rgba(255,255,255,1),#f5a200);
}

div.index_global_map div.layout div.index_bd div.map_content li:hover i::before {
    position: absolute;
    content: '';
    width: 130%;
    height: 130%;
    top: -15%;
    left: -15%;
    opacity: 1;
    filter: alpha(opacity=0)\9;
    border-radius: 50%;
    background: -webkit-radial-gradient(circle,#173775,rgba(255,255,255,.5),#f5a200);
    background: -o-radial-gradient(circle,rgba(255,255,255,.5),#f5a200);
    background: -moz-radial-gradient(circle,rgba(255,255,255,.5),#f5a200);
    background: radial-gradient(circle,rgba(255,255,255,1),#f5a200);
    -webkit-animation: kuosan-2 4s linear infinite;
    animation: kuosan-2 4s linear infinite;
}

div.index_global_map div.layout div.index_bd div.map_content li:hover i::after {
    position: absolute;
    content: '';
    width: 130%;
    height: 130%;
    top: -15%;
    left: -15%;
    opacity: 0;
    filter: alpha(opacity=0)\9;
    border-radius: 50%;
    z-index: -1;
    background: -webkit-radial-gradient(circle,rgba(255,255,255,.5),#f5a200);
    background: -o-radial-gradient(circle,rgba(255,255,255,.5),#f5a200);
    background: -moz-radial-gradient(circle,rgba(255,255,255,.5),#f5a200);
    background: radial-gradient(circle,rgba(255,255,255,1),#f5a200);
    -webkit-animation: kuosan-2 4s linear infinite;
    animation: kuosan-2 4s linear infinite;
}

.mobile_img {
    display: none;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(37) {
    left: 1340px;
    top: 290px;
    width: 20px;
    height: 19px;
    background: transparent;
    z-index: 9;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(37) i {
    width: 20px;
    height: 19px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(37) i::after,div.index_global_map div.layout div.index_bd div.map_content li:nth-child(37) i::before {
    top: -10%;
}

div.index_global_map div.layout div.index_bd div.map_content li i {
    position: relative;
    z-index: 9;
}

div.index_global_map div.layout div.index_bd div.map_content li i img {
    z-index: 9;
    position: relative;
}

div.index_global_map div.layout div.index_bd div.map_content li.xinzeng {
    background: #f5a200;
}

div.index_global_map div.layout div.index_bd div.map_content li.xinzeng i::before {
    background: -webkit-radial-gradient(circle,#173775,rgba(255,255,255,.5),#ff0000);
    background: -o-radial-gradient(circle,rgba(255,255,255,.5),#ff0000);
    background: -moz-radial-gradient(circle,rgba(255,255,255,.5),#ff0000);
    background: radial-gradient(circle,rgba(255,255,255,1),#f5a200);
}

div.index_global_map div.layout div.index_bd div.map_content li.xinzeng i::after {
    background: -webkit-radial-gradient(circle,rgba(255,255,255,.5),#ff0000);
    background: -o-radial-gradient(circle,rgba(255,255,255,.5),#ff0000);
    background: -moz-radial-gradient(circle,rgba(255,255,255,.5),#ff0000);
    background: radial-gradient(circle,rgba(255,255,255,1),#f5a200);
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(38) {
    left: 487px;
    top: 315px
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(39) {
    left: 594px;
    top: 388px
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(40) {
    left: 580px;
    top: 420px
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(41) {
    left: 612px;
    top: 505px
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(42) {
    left: 962px;
    top: 194px
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(43) {
    left: 941px;
    top: 207px
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(44) {
    left: 946px;
    top: 240px
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(45) {
    left: 991px;
    top: 243px
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(46) {
    left: 865px;
    top: 287px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(47) {
    left: 896px;
    top: 295px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(48) {
    left: 935px;
    top: 272px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(49) {
    left: 1038px;
    top: 280px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(50) {
    left: 1049px;
    top: 276px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(51) {
    left: 1025px;
    top: 292px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(52) {
    left: 1072px;
    top: 288px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(53) {
    left: 1052px;
    top: 369px;
}

div.index_global_map div.layout div.index_bd div.map_content li:nth-child(4),div.index_global_map div.layout div.index_bd div.map_content li:nth-child(10),div.index_global_map div.layout div.index_bd div.map_content li:nth-child(25),div.index_global_map div.layout div.index_bd div.map_content li:nth-child(27),div.index_global_map div.layout div.index_bd div.map_content li:nth-child(34) {
    opacity: 0
}



@-webkit-keyframes kuosan-1 {
    50% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
        filter: alpha(opacity=100)\9
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        filter: alpha(opacity=0)\9
    }
}

@keyframes kuosan-1 {
    50% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
        filter: alpha(opacity=100)\9
    }

    100% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        filter: alpha(opacity=0)\9
    }
}

@-webkit-keyframes kuosan-2 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
        filter: alpha(opacity=100)\9
    }

    50% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        filter: alpha(opacity=0)\9
    }
}

@keyframes kuosan-2 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
        filter: alpha(opacity=100)\9
    }

    50% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        filter: alpha(opacity=0)\9
    }
}

    .mobile_img {
        display: none;
    }
@media (max-width:768px) {
  .custom-pagination {
	display: flex;
	justify-content: center;
	align-items: center;
  position: absolute;
  z-index: 10;
  bottom: 10px !important;
}
 div.index_global_map div.layout div.index_bd div.map_bg,div.index_global_map div.layout div.index_bd div.map_content {
        display: none;
    }
    .mobile_img {
        display: block;
        margin: auto;
    }
.swiper-testimonial .swiper-slide-active{
scale: 1!important;
}
.swiper-testimonial .swiper-slide{
scale: 1;
}
}

/* index_history */
.page_history {
    margin: 120px 0 0;
    padding-bottom: 65px;
}

.page_history .index_tit {
    margin-bottom: 57px;
}

.page_history .layout {
}

.page_history .layout .index_hd {
}

.page_history .layout .index_hd .index_title {
    font-size: 46px;
    text-transform: none;
    text-align: center;
    color: #333333;
}

.page_history .layout .index_hd .index_title::before {
    width: 114px;
    left: calc(50% - 57px);
}

.page_history .history_bg {
    padding: 229px 0 0;
    background: url(../img/about/history_bg.webp) no-repeat;
    background-position: center;
}

.page_history .history_bg .history_line {
    padding: 0 124px 0 236px;
    position: relative;
}

.page_history .history_radio {
    position: absolute;
    height: 160px;
    width: 1px;
    background: url(../img/about/history_be.png) no-repeat;
    opacity: .6;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -ms-transition: all .3s ease;
}

.page_history .history_radio:after {
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    border-radius: 50%;
    left: .5px;
    bottom: 0;
    transform: translate(-50%, 100%);
}

.page_history .history_radio:before {
    content: "";
    background: url(../img/about/history_icon.webp) no-repeat;
    width: 21px;
    height: 21px;
    background-size: cover;
    position: absolute;
    bottom: -15px;
    left: -10px;
    -webkit-animation: his_rotate 3s linear infinite;
    -moz-animation: his_rotate 3s linear infinite;
    -o-animation: his_rotate 3s linear infinite;
    animation: his_rotate 3s linear infinite;
}

.page_history .history_radio:hover {
    opacity: 1;
}

.page_history .history_radio:hover::before {
}

.page_history .history_radio:hover div h2 {
    opacity: 1;
}

.page_history .history_radio:hover div {
    opacity: 1;
}

.page_history .history_radio:hover div h2::after {
    opacity: 1;
}

.history_moile {
    padding: 20px 0;
    display: none;
}

.history_moile .swiper-slide {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    overflow: visible;
    border-top: 1px solid #fff;
}

.history_moile .swiper-slide h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.history_moile .swiper-slide p {
    padding: 0 11%;
    font-size: 16px;
}

.history_moile .swiper-slide:after {
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    background: #fff;
    top: 0;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.page_history .history_radio:nth-of-type(1) {
    left: 44.6%;
    bottom: 42%;
}

.page_history .history_radio:nth-of-type(2) {
    left: 33.4%;
    bottom: 62%;
    height: 150px;
}

.page_history .history_radio:nth-of-type(3) {
    left: 20.4%;
    bottom: 64%;
    height: 150px;
}

.page_history .history_radio:nth-of-type(4) {
    left: 12.6%;
    bottom: 85%;
}

.page_history .history_radio:nth-of-type(5) {
    left: 19.5%;
    bottom: 97%;
    height: 150px;
}

.page_history .history_radio:nth-of-type(6) {
    left: 33%;
    bottom: 90%;
    height: 170px;
}

.page_history .history_radio:nth-of-type(7) {
    left: 47%;
    bottom: 91.5%;
}

.page_history .history_radio:nth-of-type(8) {
    left: 63.6%;
    bottom: 89%;
}

.page_history .history_radio:nth-of-type(9) {
    left: 80.8%;
    bottom: 96%;
}

.page_history .history_radio:nth-of-type(10) {
    left: 79.8%;
    bottom: 94%;
}

.page_history .history_radio:nth-of-type(1) div {
    width: 310px;
}

.page_history .history_radio:nth-of-type(2) div {
    width: 170px;
    top: 10px;
}

.page_history .history_radio:nth-of-type(3) div {
    width: 225px;
    top: -5px;
}

.page_history .history_radio:nth-of-type(4) div {
    width: 170px;
    transform: translateX(-115%);
    text-align: right;
}

.page_history .history_radio:nth-of-type(5) div {
    width: 200px;
}

.page_history .history_radio:nth-of-type(6) div {
    width: 250px;
    left: 10px;
}

.page_history .history_radio:nth-of-type(7) div {
    width: 270px;
}

.page_history .history_radio:nth-of-type(8) div {
    width: 300px;
}

.page_history .history_radio:nth-of-type(9) div {
    width: 300px;
}

.page_history .history_radio:nth-of-type(10) div {
    width: 250px;
}

.page_history .history_radio:nth-of-type(5) div h2:after {
    left: 0;
}

.page_history .history_radio:nth-of-type(4) div h2:after {
    right: 0;
    left: auto;
}

.page_history .history_radio div {
    position: absolute;
    color: #fff;
    left: 17px;
    top: -15px;
    font-size: 16px;
    line-height: 1.3;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -ms-transition: all .3s ease;
}

.page_history .history_radio div h2 {
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 9px;
    padding-bottom: 3px;
    font-weight: normal;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -ms-transition: all .3s ease;
    font-family: 'Poppins-Semibold';
}

.page_history .history_radio div h2:after {
    content: "";
    width: 36px;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -ms-transition: all .3s ease;
}

.page_history .history_radio div p {
    font-size: 16px;
}

@keyframes his_rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(-359deg)
    }
}

.page_history .history_radio div:hover {
    transform: scale(1.15);
    transform-origin: 0 0;
}

.page_history .history_radio:nth-of-type(4) div:hover {
    transform: scale(1.2) translateX(-115%);
}

/* page_team */
div.page_team {
    background: #0e68b4;
    padding-top: 50px;
    padding-bottom: 75px;
}

div.page_team > h2 {
    font-size: 48px;
    color: #fff;
    font-family: 'Poppins-Bold';
    font-weight: normal;
    width: 1520px;
    margin: auto;
    margin-bottom: 50px;
}

div.page_team div.layout.flex_row {
}

div.page_team div.layout.flex_row div.team_item {
    width: 15%;
    padding-right: 10px;
    cursor: pointer;
}

div.page_team div.layout.flex_row div.team_item div.icon {
    margin-bottom: 25px;
    text-align: center;
}

div.page_team div.layout.flex_row div.team_item div.icon img {
    width: auto;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -ms-transition: all .3s ease;
}

div.page_team div.layout.flex_row div.team_item p {
    opacity: 0;
}

div.page_team div.layout.flex_row div.team_item.active p {
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -ms-transition: all .3s ease;
}

div.page_team div.layout.flex_row div.team_item div.text h3 {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Poppins-Bold';
    font-weight: normal;
    margin-bottom: 7px;
    text-align: center;
}

div.page_team div.layout.flex_row div.team_item div.text p {
    font-size: 14px;
    color: #ffffff;
    font-family: "Poppins-Light";
}

div.page_team div.layout.flex_row div.team_item div.icon:hover img {
    transform: rotateY(180deg);
}

@media (max-width: 868px) {

    .history_line {
        display: none;
    }

    .history_moile {
        display: block;
    }

    .page_history .history_bg {
        padding-top: 79px;
    }

  .whatsapp-main {
    right: 0 !important;
    left: auto !important;
  }
}
